* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.topbar {
    width: 100%;
    height: 5vh;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.topbar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 3%
}

.topbar li {
    padding: 0 20px;
    list-style-type: none;
    align-content: center;
}

.topbar li:last-child {
    margin-left: auto;
}

.icon {
    max-height: 4vh;
    margin-left: auto;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.icon:active {
    transform: scale(1);
}

/* Flex container */
.container {
    display: flex;
    flex-wrap: wrap;              /* stack on small screens */
    justify-content: space-between;
    align-items: stretch;         /* make children take full height */
    height: 85vh;                /* full viewport height */
    padding: 2%;
    box-sizing: border-box;
    gap: 2%;
}

.text {
    flex: 1 1 50%;
    background-color: blanchedalmond;
    padding: 20px;
    box-sizing: border-box;

    font-size: 2vh;
}

.picture {
    flex: 1 1 40%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.title {
    font-size: 5vh;
    flex: 1 1 100%;
    height: 10%;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
